:root {
    --color-accent: #2F5D77;
    --color-navbar: #f8f9fa;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.6;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, “Helvetica Neue”, sans-serif;
}

h1, h2, h3 {
    line-height: 1.2;
}

nav {
    border-top: 10px solid var(--color-accent);
    min-height: 45px;
    background-color: var(--color-navbar);
}

main {
    flex: auto;
    margin: 0 auto;
    max-width: 650px;
    text-align: justify;
} 

footer {
    border-bottom: 10px solid var(--color-accent);
    text-align: center;
    min-height: 30px;
}

footer a {
    color: var(--color-accent);
}

.flexnav, .flexnav-start, .flexnav-end {
    display: flex;
    flex-direction: row;
}

.flexnav {
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.flexnav-start {
    justify-content: start;
}

.flexnav-end {
    justify-content: end;
}

.flexnav-link {
    margin: 0.5em 0.5em 0.5em 0.5em;
    color: var(--color-accent)
}

.copyright {
    margin: 5px 0;
}

.copyright i {
    font-size: 75%;
}