<footer>
    <p class="copyright text-muted">
        {{ if .Site.Params.copyright }}       
            {{- partial "copyright.html" . -}}
        {{ else }}
            {{- "&copy; All rights reserved. Made with [Hugo](https://gohugo.io)." | markdownify -}}
        {{ end }}      
    </p>
</footer>