<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
    
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>

    <link rel="stylesheet" href="{{ absURL "css/fontawesome.min.css" }}">
    <link rel="stylesheet" href="{{ absURL "css/brands.min.css" }}">
    <link rel="stylesheet" href="{{ absURL "css/solid.min.css" }}">
    <link rel="stylesheet" href="{{ absURL "css/castellum.css" }}">


    <link rel="canonical" href="{{ .Permalink }}" />
    {{ if .Site.Params.favicon }}
    <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
    {{ end }}

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
</head>