<nav class="fullwidth-navbar">
    <div class="flexnav">
        <div class="flexnav-start">
            {{ if .Site.Menus.main }}
                {{ range sort .Site.Menus.main }}
                    <a class="flexnav-link" href="{{ .URL }}">{{ .Name }}</a>    
                {{ end }}
            {{ end }}
        </div>
        <div class="flexnav-end">
            {{ if .Site.Menus.icon }}
                {{ range sort .Site.Menus.icon }}
                    <a href="{{ .URL }}"><i class="flexnav-link {{ .Name }}"></i></a>
                {{ end }}
            {{ end }}
        </div>
    </div> 
</nav>